.headerTop{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTop>h3{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (max-width: 600px) {
    .headerTop{
        height: 30px;
    }
}