.header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background-color: #f6f6f6;
}

.header .namangandan,
.header .toshkentdan {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #ffffff52;
}

.namangandan_link,
.toshkentdan_link{
    width: 80%;
    height: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}



@media screen and (max-width: 520px) {

    .header .namangandan,
    .header .toshkentdan {
        font-size: 15px;
        text-align: center;
    }
}