.carousel {
    width: 1240px;
    height: auto;
    border-radius: 20px;
    padding: 10px 3% 0 3%;
}

.carousel .slide {
    height: 700px;
    background-color: #eee;
    background-image: url(https://img.freepik.com/free-photo/yellow-and-black-sign-of-taxi-placed-on-top-of-a-car-at-night_181624-10624.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 10px;

}

.carousel .slide > h1{
    font-size: 70px;
}

@media screen and (max-width: 922px) {
    
.carousel .slide {
    height: 500px;
    color: #fff;
    padding: 0 10px;

}

.carousel .slide > h1{
    font-size: 50px;
}

}

@media screen and (max-width: 520px) {
    
    .carousel .slide {
        height: 300px;
        color: #fff;
        padding: 0 10px;
    
    }
    
    .carousel .slide > h1{
        font-size: 35px;
    }
    
    }


